.content {
  padding: 80px 0;
  text-align: center;
}

.content > h1 {
  font-size: 20px;
  font-weight: 600;
}

.content > p {
  color: #939393;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5em;
}
