.navigation {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding-left: 3rem;
  padding-top: 1rem;
  background-color: transparent;
  color: white;
  transition: all 0.5s;
}
.black {
  background-color: black;
  z-index: 1111;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.brand-name {
  margin-left: 1rem;
}
.brand-name > img {
  width: 110px;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
  padding-right: 30px !important;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.buy-now {
  background-color: white;
  border: 2px solid white;
  width: 120px;
  height: 30px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 5rem !important;
}

.buy-now:hover {
  background-color: transparent !important;
  color: white;
}

.buy-now > svg {
  fill: black;
  margin-left: 5px;
  transition: all 0.5s;
}

.buy-now:hover > svg {
  fill: white;
}

/* Hamburger Menu Css Start */

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #ff214f;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 60%;
  right: 35px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #ff214f;
}

@media screen and (max-width: 1100px) {
  .buy-now {
    display: none;
  }
  .navigation {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    transition-timing-function: ease-in;
    transition-delay: 5s;
  }
  .navigation-menu ul {
    display: none;
    transition-timing-function: ease-in;
    transition-delay: 5s;
  }
  .navigation-menu.expanded ul {
    display: block;
    transition-timing-function: ease-in;
    transition-delay: 5s;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: rgba(23, 23, 23, 0.95);
    border-top: 1px solid black;
    z-index: 111;
    transition-timing-function: ease-in;
    transition-delay: 5s;
  }
  .navigation-menu li {
    margin: 0;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }
  .navigation-menu li a {
    color: white;
    width: 100%;
    padding: 1rem 0;
  }
  .navigation-menu li:hover {
    background-color: rgba(23, 23, 23, 0.95);
  }
}
